#app {
  display: grid;
  grid-template-areas: "aside main main";
  grid-template-columns: 250px 1fr;
  grid-template-rows: 100% 1fr;

  font-family: "Nunito", sans-serif;
}

.main {
  grid-area: main;
}

.aside {
  grid-area: aside;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
}

@media (max-width: 768px) {
  #app {
    grid-template-areas: "main main main";
  }

  .main {
    width: 100%;
    height: 100%;
  }

  .aside {
    position: fixed;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
    transform: translateX(-100%);
  }

  .aside.open {
    transform: translateX(0);
  }
}

.navigation {
  position: relative;
}

.navigation::after {
  position: absolute;
  content: "";
  bottom: -0.5rem;
  left: 0;
  width: 3rem;
  height: 0.3rem;
  background-color: rgb(34 197 94 / 0.9);
  border-radius: 0.5rem;
  transition: width 0.15s ease-in-out;
}

.navigation:hover::after {
  width: 4rem;
}

.sideMenuItem {
  position: relative;
}
.sideMenuItem::before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(34 197 94 / 0.9);
  border-radius: 0.5rem;
}
.active::before {
  width: 0.3rem;
}
